{% extends 'base.html' %} {% block title %} Delete the Match {% if message %} {{
message }} {% endif %} {% endblock %} {% block lead %} Delete match info {%
endblock %} {% block main_body %}

<form method="POST" action="/match/delete">
  <label for="exampleFormControlSelect1">delete Match</label>
  <input
    name="match_id"
    class="form-control"
    type="text"
    placeholder="match_id"
  />
  <br />
  <input type="submit" class="btn btn-primary" value="Delete" />
</form>

<br />
{% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Winner1</th>
      <th scope="col">Winner2</th>
      <th scope="col">Loser1</th>
      <th scope="col">Loser2</th>
      <th scope="col">Num of winner game</th>
      <th scope="col">Num of loser game</th>
    </tr>
  </thead>
  <tbody>
    {% for player in data %}
    <tr>
      <th scope="row">{{ player.id }}</th>
      <td>{{ player.winner1 }}</td>
      <td>{{ player.winner2 }}</td>
      <td>{{ player.loser1 }}</td>
      <td>{{ player.loser2 }}</td>
      <td>{{ player.winner_get_game }}</td>
      <td>{{ player.loser_get_game }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
