{% extends 'base.html' %} {% block title %} Match Rank Application {% endblock
%} {% block lead %} Post and share Match data {% endblock %} {% block main_body
%} Welcome to the coffee menu web application {% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">match_name</th>
      <th scope="col">Mouth</th>
      <th scope="col">winner1</th>
      <th scope="col">winner2</th>
      <th scope="col">loser1</th>
      <th scope="col">loser2</th>
      <th scope="col">winner_get_game</th>
      <th scope="col">loser_get_game</th>
    </tr>
  </thead>
  <tbody>
    {% for match in data %}
    <tr>
      <th scope="row">{{ match.id }}</th>
      <td>{{ match.match_name }}</td>
      <td>{{ match.date }}</td>
      <td>{{ match.winner1 }}</td>
      <td>{{ match.winner2 }}</td>
      <td>{{ match.loser1 }}</td>
      <td>{{ match.loser2 }}</td>
      <td>{{ match.winner_get_game }}</td>
      <td>{{ match.loser_get_game }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
