{% extends 'base.html' %} {% block title %} Edit Name {% if message %} {{
message }} {% endif %} {% endblock %} {% block lead %} Edit match info {%
endblock %} {% block main_body %}

<form method="POST" action="/match/update">
  <label for="exampleFormControlSelect1">select match</label>
  <input
    name="match_id"
    class="form-control"
    type="text"
    placeholder="match_id"
  />

  <label for="exampleFormControlSelect1">match infomation</label>
  <input
    name="new_winner1_name"
    class="form-control"
    type="text"
    placeholder="new_winner1_name"
  />
  <input
    name="new_winner2_name"
    class="form-control"
    type="text"
    placeholder="new_winner2_name"
  />
  <input
    name="new_loser1_name"
    class="form-control"
    type="text"
    placeholder="new_loser1_name"
  />
  <input
    name="new_loser2_name"
    class="form-control"
    type="text"
    placeholder="new_loser2_name"
  />
  <input
    name="win_game"
    class="form-control"
    type="text"
    placeholder="win_game"
  />
  <input
    name="lose_game"
    class="form-control"
    type="text"
    placeholder="lose_game"
  />
  <input type="submit" class="btn btn-primary" value="Edit" />
</form>

<br />
{% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Match</th>
      <th scope="col">winner1</th>
      <th scope="col">winner2</th>
      <th scope="col">loser1</th>
      <th scope="col">loser2</th>
      <th scope="col">Num Of get game</th>
      <th scope="col">Num Of lose game</th>
    </tr>
  </thead>
  <tbody>
    {% for player in data %}
    <tr>
      <th scope="row">{{ player.id }}</th>
      <td>{{ player.winner1 }}</td>
      <td>{{ player.winner2 }}</td>
      <td>{{ player.loser1 }}</td>
      <td>{{ player.loser2 }}</td>
      <td>{{ player.winner_get_game }}</td>
      <td>{{ player.loser_get_game }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
