{% extends 'base.html' %} {% block title %} Update Name {% if message %} {{
message }} {% endif %} {% endblock %} {% block lead %} Change an player name {%
endblock %} {% block main_body %} This is player data

<form method="POST" action="/match/update">
  <label for="exampleFormControlSelect1">Select Match</label>
  <input
    name="match_id"
    class="form-control"
    type="text"
    placeholder="match_id"
  />
  <br />
  <input type="submit" class="btn btn-primary" value="Select Player" />
  <br />

  <label for="exampleFormControlSelect1">Current Player Name</label>
  <input
    name="player1_name"
    class="form-control"
    type="text"
    placeholder="player1_name"
  />
  <br />
  <label for="exampleFormControlSelect1">edit_player1_name</label>
  <input
    name="edit_player1_name"
    class="form-control"
    type="text"
    placeholder="edit_player1_name"
  />
  <br />
  <input type="submit" class="btn btn-primary" value="Update" />
</form>
<!-- <form action="{{ url_for('match_routes.update') }}" method="POST">
  <input type="submit" value="update" />
</form> -->

<br />
{% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Match</th>
      <th scope="col">Player1</th>
      <th scope="col">Player2</th>
      <th scope="col">Player3</th>
      <th scope="col">Player4</th>
      <th scope="col">Num Of get game</th>
      <th scope="col">Num Of lose game</th>
    </tr>
  </thead>
  <tbody>
    {% for player in data %}
    <tr>
      <th scope="row">{{ player.id }}</th>
      <td>{{ player.winner1 }}</td>
      <td>{{ player.winner2 }}</td>
      <td>{{ player.loser1 }}</td>
      <td>{{ player.loser2 }}</td>
      <td>{{ player.winner_get_game }}</td>
      <td>{{ player.loser_get_game }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
